<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">No posts in this category</h5>
                <div class="card-text text-muted">
                    <small>Looks like no articles have been written for this category yet~</small>
                </div>
                <p class="card-text">How about following my social media for more interesting content?</p>
                <a class="btn btn-outline-secondary stretched-link" href="#">
                    Request new content!
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <img src="~/images/qrcode_sm.jpg" class="img-fluid rounded-start" width="200" alt="">
        </div>
    </div>
</div>