@{
    ViewData["Title"] = "About This Website";
}
<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottom">
        <div>About</div>
        <div>About This Website</div>
    </h2>

    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">About the Author</h5>
                    <h6 class="card-subtitle mb-2 text-muted">DealiAxy</h6>
                    <p class="card-text">Full-stack developer, Linux enthusiast, amateur photographer, literature lover</p>
                    <a href="https://github.com/Deali-Axy" class="card-link" target="_blank">Github</a>
                    <a href="https://www.zhihu.com/people/dealiaxy" class="card-link" target="_blank">Zhihu</a>
                    <a href="https://www.cnblogs.com/deali/" class="card-link" target="_blank">Blog</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Main Skills</h5>
                    <p class="card-text text-muted">Mainly CRUD development, proficient with search engines, adept at various copy-paste operations, expert in git clone code transfer techniques</p>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">Backend / C# / Python / Kotlin / Go / PHP</div>
                    <div class="list-group-item">Frontend / React / Vue</div>
                    <div class="list-group-item">Mobile / Flutter / Android</div>
                    <div class="list-group-item">Desktop / Winform / PyQt</div>
                    <div class="list-group-item">Data Analysis</div>
                    <div class="list-group-item">Web Scraping</div>
                    <div class="list-group-item">Machine Learning / Deep Learning / NLP / CV</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="~/images/codelab.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Programming Lab</h5>
                    <div class="card-text">A platform for technology exploration and sharing</div>
                    <small class="card-text text-muted">
                        Focused on exploring internet technologies and agile development practices, including web development, mobile development, machine learning, data analysis, algorithms, and Linux technologies. Welcome to discuss and share learning experiences.
                    </small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="~/images/qrcode_sm.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">WeChat Official Account</h5>
                    <div class="card-text">Welcome to scan and connect</div>
                    <small class="card-text text-muted">
                        Focused on exploring internet technologies and agile development practices, including web development, mobile development, machine learning, data analysis, algorithms, and Linux technologies. Welcome to discuss and share learning experiences.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>