@model StarBlog.Web.ViewModels.LinkExchange.LinkExchangeAddViewModel
@{
    ViewData["Title"] = "Apply for Link Exchange";
}


<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottom">
        <div>Apply for Link Exchange</div>
        <div>Link Exchange</div>
    </h2>

    <div class="card px-1 py-3">
        <form enctype="multipart/form-data" class="card-body row" asp-controller="LinkExchange" asp-action="Add" method="post">
            <div class="col-xl-6">
                <div class="mb-4">
                    <h4 class="card-title">Link Information</h4>
                    <h6 class="card-subtitle mb-3 text-muted">Please enter your website information for future contact</h6>
                </div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Url" class="form-label"></label>
                    <input asp-for="Url" class="form-control">
                    <span asp-validation-for="Url" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="WebMaster" class="form-label"></label>
                    <input asp-for="WebMaster" class="form-control">
                    <span asp-validation-for="WebMaster" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="form-text text-danger"></span>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="ms-3 mb-4">
                    <h4 class="card-title">Requirements</h4>
                    <h6 class="card-subtitle mb-3 text-muted">To apply for a link exchange, please meet the following requirements</h6>
                </div>

                <ul class="list-group list-group-flush list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Reciprocity</div>
                            Please add this site to your website first, then apply for the link exchange
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Content Category</div>
                            Priority is given to original content sites or blogs with similar topics
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">SEO</div>
                            Priority is given to sites properly indexed by Baidu and Google with recent snapshots
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Legal</div>
                            Legal websites that do not contain content that violates relevant national laws, do not accept links from TB customers, etc.
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Update Timeliness</div>
                            Do not accept websites with original content rarely updated for a long time
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Accessibility</div>
                            If your website cannot be accessed, the friendship link will be temporarily revoked. If you need to restore it, please contact the site administrator for processing
                        </div>
                    </li>
                </ul>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
                <button type="reset" class="btn btn-outline-warning">Reset</button>
            </div>
        </form>
    </div>


</div>